<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}">
</head>
<body>
<!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->

<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first title_login">
            <h1 class="display-5">Login</h1>
        </div>



        <!-- Login Form -->
        <form th:action="@{/login}" method="POST">

            <div class="alert alert-danger" th:if="${param.error}">
                Invalid username or password
            </div>
            <div class="alert alert-dark" th:if="${param.logout}">
                You have been logged out
            </div>
            <div id="success-msg" th:if="${signupSuccess}" class="alert alert-dark">
                You successfully signed up!
            </div>

            <input type="text" id="login" class="fadeIn second" name="username" placeholder="username">
            <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" th:href="@{/signup}">Click here to sign up</a>
        </div>

    </div>
</div>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>